body{
  font-family: 'Fira Sans';
}

.god_map_view_container{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #1A142F;
}

.god_map_view{
  position: relative;
  width: 900px;
  top: 50%;
  transform: translate(0, -50%)
}

.tab_count{
  float: left;
  width: 40px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
  border-radius: 4px;
  color: white;
}

.tab_text{
  float: left;
  font-family: 'Fira Sans';
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

.tab_selected{
  /* border-bottom: 6px solid white; */
}

.popover_header{
  font-family: 'Fira Sans';
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 24px;
}

.popover_content {
  font-family: 'Fira Sans';
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 15px;
}

.map_marker{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.processing {
  background-color: #00CE5B;
  border: 3px solid rgba(0,206,91,0.50);
}
.warning {
  background-color: #F97C24;
  border: 3px solid rgba(249,124,36,0.50);
}

.error {
  background-color: #EF074F;
  border: 3px solid rgba(239,7,79,0.50);
}
.default {
  background-color: #9B9B9B;
  border: 3px solid rgba(155,155,155,0.07);
}

.hypertrack_popover {
  color: "#9013FE" !important;
}